<!-- <div class="container">
	<h1>{{guide.title}}</h1>
	<h2>{{book.title}}</h2>
	<div markdown="book.content" ng-bind-html-unsafe="markdown"></div>
	<hr>
	<div ng-repeat="content in book.additionalContent">
		<div markdown="content.text" parent="content" ng-bind-html-unsafe="markdown"></div>
	</div>
	<table class="table">
		<tbody>
			<tr ng-repeat="child in book.children" >
				<td>
					<h3>{{child.title}}</h3>
					<div markdown="child.content" parent="child" ng-bind-html-unsafe="markdown"></div>
					<hr>
					<div ng-repeat="test in child.children">
						<h4>{{test.title}}</h4>
						<div markdown="test.content" parent="test" ng-bind-html-unsafe="markdown"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div> -->



		<section class="container">
			<div class="sixteen columns">
				<div id="content-container">
					<div class="row">
						<div class="sidebar five columns alpha">
							<aside id="well-time">The Web Server: <span>1 hour</span></aside> <!-- sidebar-well-time -->
							<aside id="chapters"> <!-- sidebar-contents -->
								<h3>Chapters</h3>
								<ol>
									<li ng-repeat="child in book.children">{{child.title}}</li>
								</ol>
							</aside>
						</div>
						<div class="eleven columns omega">
							<h3>{{book.title}}</h3>
							<div markdown="book.content" parent="book" ng-bind-html-unsafe="markdown"></div>
							<div ng-repeat="content in book.additionalContent">
								<div markdown="content.text" parent="content" ng-bind-html-unsafe="markdown"></div>
							</div>
						</div>
					</div> 
					<div class="row" ng-repeat="child in book.children">
						<h2><span>Chapter {{$index+1}}</span> {{child.title}}</h2>
						<div class="sidebar five columns alpha">
							&nbsp;
						</div>
						<div class="eleven columns omega">
							<div markdown="child.content" parent="child" ng-bind-html-unsafe="markdown"></div>
							
							<section ng-repeat="page in child.children">
								<h4 class="header-icon-wrench"><span>{{$index}}</span> {{page.title}}</h4>
								<div markdown="page.content" parent="page" ng-bind-html-unsafe="markdown"></div>
							
								<hr />

							</section><!-- steps -->
						
						</div>						
					</div>

					<!-- MOAR CONENT HUR -->
					
				</div>
			</div>
		</section>