		<section class="container">
			<div class="sixteen columns">
				<div id="content-container">
					<div class="row">
						<div class="sidebar five columns alpha">
							<aside id="well-time">{{book.title}}: <span>1 hour</span></aside> <!-- sidebar-well-time -->
							<aside id="chapters" > <!-- sidebar-contents -->
								<h3>Chapters</h3>
								<ol>
									<li ng-repeat="chapter in book.children"><a href="#/guides/{{guide.slug}}/{{book.slug}}#{{chapter.slug}}">{{chapter.title}}</a></li>
								</ol>
							</aside>
						</div>
						<div class="eleven columns omega">
							<h3>{{book.longTitle}}</h3>

							<div ng-repeat="image in book.images | filter:{type:'heading'}">
								<img src="{{image.url}}">
							</div>

							<div markdown="book.content" parent="book" ng-bind-html-unsafe="markdown"></div>

							<div ng-repeat="content in book.additionalContent">
								<div markdown="content.text" parent="content" ng-bind-html-unsafe="markdown"></div>
							</div>
						</div>
					</div> 


					<div id="{{chapter.slug}}" class="row" ng-repeat="chapter in book.children">
						<h2><span>Chapter {{$index+1}}</span> {{chapter.title}}</h2>
						<div class="sidebar five columns alpha">
							&nbsp;
						</div>
						<div class="eleven columns omega">
							<div markdown="chapter.content" parent="chapter" ng-bind-html-unsafe="markdown"></div>
							
							<section ng-repeat="page in chapter.children">
								<h4 class="header-icon-wrench"><span>{{$index}}</span> {{page.title}}</h4>
								<div markdown="page.content" parent="page" ng-bind-html-unsafe="markdown"></div>
							
								<hr />
								
							</section><!-- steps -->
						
						</div>						
					</div>


							<p>
								<a href="#/guides/{{guide.slug}}/{{prevBook.slug}}" class="btn large green flat round4" title="">Previous: {{prevBook.title}}</a>
								<a href="#/guides/{{guide.slug}}/{{nextBook.slug}}" class="btn large green flat round4" title="">Next: {{nextBook.title}}</a>
							</p>

					<!-- MOAR CONENT HUR -->
					
				</div>
			</div>
		</section>