<!-- <div class="container">
	<div class="row">
		<div class="span12">
			<table class="table">
				<tbody>
					<tr ng-repeat="guide in guideData">
						<td>
							<a href="#/guides/{{guide.id}}">{{guide.title}}</a>
							<a ng-click="state.transitionTo('app.guides.view', {guideID: guide.slug});">{{guide.title}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div> -->

		<section class="container">
			<div class="sixteen columns">
				<div id="content-container">
					<h2>Guides</h2>
					<hr>
					<table class="table-layout">
						<tbody>
							<tr ng-repeat="guide in guideData" ng-show="guide.description">
								<th><h3><a href="#/guides/{{guide.slug}}">{{guide.title}}</a></h3></th>
								<td><div markdown="guide.description" parent="guide" ng-bind-html-unsafe="markdown"></div></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</section>