/*
--------------------------------------------------
Fonts
-------------------------------------------------- */

@font-face {
font-family: 'SourceSansProExtraLight';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot'), url('../fonts/SourceSansPro/sourcesanspro-extralight.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-extralight.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-extralight.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNF-01od694vbXd2r4ICkqU.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-extralight.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-extralight.svg#source_sans_proextralight') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SourceSansProLight';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot'), url('../fonts/SourceSansPro/sourcesanspro-light.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-light.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGPS42wKzre0cxmO5m5GyTsY.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-light.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-light.svg#source_sans_prolight') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SourceSansProRegular';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot'), url('../fonts/SourceSansPro/sourcesanspro-regular.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-regular.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-regular.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SourceSansProSemibold';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot'), url('../fonts/SourceSansPro/sourcesanspro-semibold.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-semibold.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGBRq_IsDXucKYMk4-diqPEc.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-semibold.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SourceSansProBold';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot'), url('../fonts/SourceSansPro/sourcesanspro-bold.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-bold.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGLlcMrNrsnL9dgADnXgYJjs.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-bold.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-bold.svg#source_sans_probold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SourceSansProBlack';
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot'), url('../fonts/SourceSansPro/sourcesanspro-black.eot');
src: url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro/sourcesanspro-black.eot?#iefix') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff') format('woff'), url('../fonts/SourceSansPro/sourcesanspro-black.woff') format('woff'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGAB1T86lWSAA4YH0UgcWDqc.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-black.ttf') format('truetype'), url('../fonts/SourceSansPro/sourcesanspro-black.svg#source_sans_problack') format('svg');
font-weight: normal;
font-style: normal;
}

// OLD CORNERSTONE

// @font-face {
//     font-family: 'RobotoThin';
//     src: url('../fonts/roboto/roboto-thin-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-thin-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-thin-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-thin-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-thin-webfont-rackspace.svg#robotothin') format('svg');
//     font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoLight';
//     src: url('../fonts/roboto/roboto-light-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-light-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-light-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-light-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-light-webfont-rackspace.svg#robotolight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoRegular';
//     src: url('../fonts/roboto/roboto-regular-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-regular-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-regular-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-regular-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-regular-webfont-rackspace.svg#robotoregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoMedium';
//     src: url('../fonts/roboto/roboto-medium-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-medium-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-medium-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-medium-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-medium-webfont-rackspace.svg#robotomedium') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoBold';
//     src: url('../fonts/roboto/roboto-bold-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-bold-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-bold-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-bold-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-bold-webfont-rackspace.svg#robotobold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoBlack';
//     src: url('../fonts/roboto/roboto-black-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-black-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-black-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-black-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-black-webfont-rackspace.svg#robotoblack') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoCondensed';
//     src: url('../fonts/roboto/roboto-condensed-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-condensed-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-condensed-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-condensed-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-condensed-webfont-rackspace.svg#robotocondensed') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoCondensedBold';
//     src: url('../fonts/roboto/roboto-boldcondensed-webfont-rackspace.eot');
//     src: url('../fonts/roboto/roboto-boldcondensed-webfont-rackspace.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-boldcondensed-webfont-rackspace.woff') format('woff'),
//          url('../fonts/roboto/roboto-boldcondensed-webfont-rackspace.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-boldcondensed-webfont-rackspace.svg#robotobold_condensed') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// 
// 
// @font-face {
//     font-family: 'RobotoSlabBold';
//     src: url('../fonts/robotoslab/robotoslab-bold.eot');
//     src: url('../fonts/robotoslab/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/robotoslab/robotoslab-bold.woff') format('woff'),
//          url('../fonts/robotoslab/robotoslab-bold.ttf') format('truetype'),
//          url('../fonts/robotoslab/robotoslab-bold.svg#roboto_slabbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoSlabRegular';
//     src: url('../fonts/robotoslab/robotoslab-regular.eot');
//     src: url('../fonts/robotoslab/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/robotoslab/robotoslab-regular.woff') format('woff'),
//          url('../fonts/robotoslab/robotoslab-regular.ttf') format('truetype'),
//          url('../fonts/robotoslab/robotoslab-regular.svg#roboto_slabregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoSlabLight';
//     src: url('../fonts/robotoslab/robotoslab-light.eot');
//     src: url('../fonts/robotoslab/robotoslab-light.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/robotoslab/robotoslab-light.woff') format('woff'),
//          url('../fonts/robotoslab/robotoslab-light.ttf') format('truetype'),
//          url('../fonts/robotoslab/robotoslab-light.svg#roboto_slablight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'RobotoSlabThin';
//     src: url('../fonts/robotoslab/robotoslab-thin.eot');
//     src: url('../fonts/robotoslab/robotoslab-thin.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/robotoslab/robotoslab-thin.woff') format('woff'),
//          url('../fonts/robotoslab/robotoslab-thin.ttf') format('truetype'),
//          url('../fonts/robotoslab/robotoslab-thin.svg#roboto_slabthin') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }