


	#eyebrow-container {
		padding: 7px 0;
		font-family: Arial, "Helvetica Neue", Helvetica, Verdana, Geneva, sans-serif;
		font-weight: lighter;
		color: #fff;




		#eyebrow-nav-right {
			margin-right: 15px; 
			padding-top: 6px;
			font-size:.9em;

		}
		#eyebrow-signup {
			margin-right: 15px;
		}

		#eyebrow-nav-right,
		#eyebrow-nav-left {
			a {
				margin-left: 15px;
			}
		}
		
		.btn-group {
			margin-top:2px;
			.btn {
				font-family: Arial, "Helvetica Neue", Helvetica, Verdana, Geneva, sans-serif!important;
				padding:5px 10px!important;
				line-height:1em!important;
				font-size:.9em!important;

				span.caret {
					 border-top: 4px solid #fff;
				}
			}
			.dropdown-menu {
				li {
					a {
						font-family:'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
						color: #4c4c4c; text-decoration: none;
					}
				}
			}
		}

		.medium {
			font-size: 100% !important;
		}


		a {
			color: #ccc; text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.link-disabled {
			pointer-events: none; 
			cursor: default;
		}
		.icon {
			background-image: url('../../images/sprite-eyebrow.png'); 
			background-repeat: no-repeat;
			margin-left:10px;
		}
		#support-chat {
			padding-left: 20px; 
			background-position: 0 1px;
		}
		#support-phone {
			padding-left: 20px; 
			background-position: 0 -49px;
		}
		#sales-chat {
			padding-left: 20px; 
			background-position: 0 -15px;
		}
		#sales-phone {
			padding-left: 17px; 
			background-position: 0 -33px;
		}

	}









	#nav-global-wrapper {
	/*height: 110px;*/
	background: #eee;
/*	background: #eee url('../../images/bg-graph.png');*/

	#nav-global-container {
		padding-top: 13px;

		#logo {
			position: relative;
			height: 90px;

			/*width: 390px;*/
			/*float: left;*/
			img {
				position: absolute;
				top: 0;
				left: 0;
			}			
			h1 {
				position: absolute;
				top: 25px;
				right: 0;
				font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				font-size: 190%;
			}
			p {
				position: absolute;
				top: 50px;
				right: 0;
				padding: 0;
				margin: 0;
				font-style: italic;
			}			
		}



		#nav-global {
			font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			/*float: right;*/
			/*margin-top: 33px;*/
			/*font-size: 150%;*/
			border:1px solid black;
			float:right;
			ul.nav.nav-tabs {
				border:0;
				li {
					border:0;
					a {					
						border:0;
						text-decoration: none;

					}

				}
			}
/*			a {
				text-decoration: none;
				margin-left: 10px;
				padding-left: 10px;
				border-left: 1px solid #ccc;
				border:0;
				&:first-child {
					border-left-width: 0;
				}
				&:hover {}
				&.active {}
				&.active:hover {}
			}*/
		}
	}
}
