/* Headers: Basics and Sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: left;
  text-transform: none;
  padding: 0 0 .25em 0;
  letter-spacing: 0;
  line-height: 110%;
}
h1,
h2,
h3,
h4 {
  font-family: 'RobotoMedium', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h5,
h6 {
  font-family: 'RobotoRegular', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 36px;
  line-height: 108%;
  letter-spacing: -0.005em;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
  letter-spacing: .005em;
}
h5 {
  font-size: 18px;
  line-height: 105%;
  letter-spacing: .005em;
}
h6 {
  font-size: 16px;
  line-height: 105%;
}
/* Chrome Specific Styling */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  h1 {
    font-size: 36px;
    line-height: 108%;
    letter-spacing: -0.05em;
    padding: 0 0 .25em 0;
  }
  h2 {
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -0.05em;
    padding: 0 0 .25em 0;
  }
  h3 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.05em;
    padding: 0 0 .25em 0;
  }
  h4 {
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.05em;
    padding: 0 0 .25em 0;
  }
  h5 {
    font-size: 18px;
    line-height: 105%;
    letter-spacing: -0.05em;
    padding: 0 0 .25em 0;
  }
}
/* Headers: Modifiers */
h1.em,
h2.em,
h3.em,
h4.em,
h5.em,
h6.em,
h1 .em,
h2 .em,
h3 .em,
h4 .em,
h5 .em,
h6 .em {
  font-family: 'RobotoThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
}
h1.double,
h2.double,
h3.double,
h4.double,
h5.double,
h6.double {
  margin: 0 0 1em 0;
}
h1.triple,
h2.triple,
h3.triple,
h4.triple,
h5.triple,
h6.triple {
  margin: 0 0 1.5em 0;
}
span.label {
  color: #777777;
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.04em;
  line-height: 100%;
  padding: 0 0 .25em;
  text-align: left;
  text-transform: uppercase;
}
/* Text: Paragraphs and Sizes */
p {
  color: #5C5C5C;
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}
p.text18 {
  color: #4C4C4C;
  font-size: 18px;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: .01em;
  margin: 0 0 1em 0;
}
/* Chrome Specific Letter-Spacing */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  p.text18 {
    color: #4C4C4C;
    font-size: 18px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: -0.05em;
    margin: 0 0 1em 0;
  }
}
p.text16 {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: .01em;
  margin: 0 0 1em 0;
}
p.text14 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: .01em;
  margin: 0 0 1em 0;
}
p.text12 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: .02em;
  margin: 0 0 1em 0;
}
p.text11 {
  font-size: 11px;
  line-height: 115%;
  letter-spacing: .02em;
  margin: 0 0 1em 0;
}
sup,
sub {
  font-size: .65em;
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
/* Preformatted Text */
pre {
  margin: 0;
  padding: 0;
  line-height: 100%;
}
code {
  font-family: monospace;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 12px;
  color: #222222;
}
code span.look {
  color: #1E82D7;
}
/* Dropdown Buttons with Menus */
.dropdown-menu span:hover {
  cursor: pointer;
  background: none no-repeat right center #5c5c5c;
  color: #FFFFFF;
  z-index: 1000;
}
.dropdown-menu > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.dropdown-menu > ul > li {
  list-style-type: none;
  cursor: default;
  float: left;
  margin: 0 .5em 0 0;
  padding: 0;
  position: relative;
}
.dropdown-menu > ul > li:last-child {
  margin-right: 0;
}
.dropdown-menu > ul > li > li {
  height: 1em;
}
.dropdown-menu > ul > li > ul {
  display: none;
  list-style: none outside none;
  margin: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 900;
  background: none no-repeat right center #ffffff;
  color: #FFFFFF;
  text-shadow: none;
  width: auto;
  min-width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.dropdown-menu > ul > li > ul.right {
  right: 0;
}
.dropdown-menu > ul > li > ul > li {
  list-style-type: none;
  margin: 0;
  padding: 4px 10px;
  border-bottom: 1px solid #DDDDDD;
}
.dropdown-menu > ul > li > ul > li:first-child {
  padding-top: 6px;
}
.dropdown-menu > ul > li > ul > li:last-child {
  border-bottom: 0;
}
.dropdown-menu > ul > li > ul > li:hover {
  background: none no-repeat right center #dddddd;
  color: #FFFFFF;
}
.dropdown-menu > ul > li > ul > li:hover:first-child {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.dropdown-menu > ul > li > ul > li:hover:last-child {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.dropdown-menu > ul > li > ul > li a {
  display: block;
  padding: .5em;
  text-align: left;
  text-decoration: none;
  color: #4c4c4c;
  font-size: 13px;
  line-height: 100%;
}
.dropdown-menu > ul > li > ul > li a:hover {
  text-decoration: none;
}
.dropdown-menu > ul > li:hover > ul {
  display: block;
}
span.dropdown {
  background: none no-repeat right center #5c5c5c;
  color: #FFFFFF;
  z-index: 1000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn.dropdown:after {
  border-color: #FFFFFF transparent transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  font-size: 0;
  height: 0;
  left: 4px;
  line-height: 0;
  position: relative;
  top: -2px;
  width: 0;
}
.btn.ltgray.dropdown:after {
  border-color: #4C4C4C transparent transparent transparent;
}
/* Buttons: Basics */
span.button {
  padding: 20px 20px 0 0;
  display: block;
}
.btn {
  background-color: #A5A5A5;
  cursor: pointer;
  display: inline-block;
  font-family: 'RobotoRegular', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 100%;
  padding: .7em 1em .7em 1em;
  text-align: center;
  text-decoration: none !important;
  vertical-align: top;
}
.btn:hover {
  background-color: #AAAAAA;
}
.btn:active {
  background-color: #999999;
}
.btn.round4 {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn.round3 {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn.round2 {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* Buttons: Sizes */
.btn.large {
  font-size: 18px !important;
  padding: 0.9em 1.3em 0.8em 1.5em !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.btn.large:after {
  border-color: transparent transparent transparent #FFFFFF;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  font-size: 0;
  height: 0;
  left: 8px;
  line-height: 0;
  position: relative;
  top: -4px;
  width: 0;
}
.btn.large.ltgray:after {
  border-color: transparent transparent transparent #4C4C4C;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  font-size: 0;
  height: 0;
  left: 8px;
  line-height: 0;
  position: relative;
  top: -4px;
  width: 0;
}
/* Chrome Specific Styles */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .btn.large:after,
  .btn.large.ltgray:after {
    top: -5px;
  }
}
.btn.medium {
  font-size: 14px !important;
  letter-spacing: .02em;
  padding: .6em 1em .5em 1em !important;
}
.btn.small {
  font-size: 11px !important;
  letter-spacing: .04em;
  padding: .4em .8em .4em .8em !important;
  text-transform: uppercase;
}
.btn.small.flat {
  padding: .45em .8em .4em .8em !important;
}
/*--- Chrome Specific Styles --- */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .btn.small {
    padding: .5em .8em .25em .7em !important;
  }
  .btn.small.flat {
    padding: .5em .8em .3em .8em !important;
  }
}
/* Buttons: Colors */
.btn.green,
.btn.green:link,
.btn.green:visited {
  background: none no-repeat right center #82d250;
  background: -moz-linear-gradient(center top, #a0f06e 0%, #82d250 6.5%, #3c8c0a 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #a0f06e 0%, #82d250 6.5%, #3c8c0a 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #a0f06e 0%, #82d250 6.5%, #3c8c0a 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #a0f06e 0%, #82d250 6.5%, #3c8c0a 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(to bottom, #a0f06e 0%, #82d250 6.5%, #3c8c0a 100%) repeat scroll 0 0 transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #3C8C0A;
  color: #FFFFFF;
}
.btn.green:hover {
  background: none no-repeat right center #3c8c0a;
  border-width: 1px;
  border-style: solid;
  border-color: #3C8C0A;
  color: #FFFFFF;
}
.btn.green:active {
  background: none no-repeat right center #50a01e;
}
.btn.green.flat,
.btn.green.flat:link,
.btn.green.flat:visited {
  background: none no-repeat right center #5aaa28;
  border-width: 1px;
  border-style: solid;
  border-color: #5AAA28;
  color: #FFFFFF;
  text-shadow: none;
}
.btn.green.flat:hover {
  background: none no-repeat right center #6ebe3c;
  border-width: 1px;
  border-style: solid;
  border-color: #5AAA28;
  color: #FFFFFF;
  text-shadow: none;
}
.btn.green.flat:active {
  background: none no-repeat right center #50a01e;
}
.btn.ltgray,
.btn.ltgray:link,
.btn.ltgray:visited {
  background: none no-repeat right center #e4e4e4;
  background: -moz-linear-gradient(center top, #ffffff 0%, #efefef 6.5%, #dedede 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 6.5%, #dedede 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #ffffff 0%, #efefef 6.5%, #dedede 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #ffffff 0%, #efefef 6.5%, #dedede 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 6.5%, #dedede 100%) repeat scroll 0 0 transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #D0D0D0;
  color: #5C5C5C;
  text-shadow: none;
}
.btn.ltgray:hover {
  background: none no-repeat right center #d4d4d4;
  border-width: 1px;
  border-style: solid;
  border-color: #D0D0D0;
  color: #5C5C5C;
  text-shadow: none;
}
.btn.ltgray:active {
  background: none no-repeat right center #dddddd;
}
.btn.ltgray.flat,
.btn.ltgray.flat:link,
.btn.ltgray.flat:visited {
  background: none no-repeat right center #d5d5d5;
  border-width: 1px;
  border-style: solid;
  border-color: #D5D5D5;
  color: #5C5C5C;
  text-shadow: none;
}
.btn.ltgray.flat:hover {
  background: none no-repeat right center #e4e4e4;
  border-width: 1px;
  border-style: solid;
  border-color: #D5D5D5;
  color: #5C5C5C;
  text-shadow: none;
}
.btn.ltgray.flat:active {
  background: none no-repeat right center #d2d2d2;
}
.btn.gray,
.btn.gray:link,
.btn.gray:visited {
  background: none no-repeat right center #585858;
  background: -moz-linear-gradient(center top, #bcbcbc 0%, #989898 6.5%, #585858 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top, #bcbcbc 0%, #989898 6.5%, #585858 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #bcbcbc 0%, #989898 6.5%, #585858 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #bcbcbc 0%, #989898 6.5%, #585858 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(to bottom, #bcbcbc 0%, #989898 6.5%, #585858 100%) repeat scroll 0 0 transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #535353;
  color: #FFFFFF;
}
.btn.gray:hover {
  background: none no-repeat right center #585858;
  border-width: 1px;
  border-style: solid;
  border-color: #535353;
  color: #FFFFFF;
}
.btn.gray:active {
  background: none no-repeat right center #777777;
}
.btn.gray.flat,
.btn.gray.flat:link,
.btn.gray.flat:visited {
  background: none no-repeat right center #585858;
  border-width: 1px;
  border-style: solid;
  border-color: #585858;
  color: #FFFFFF;
  text-shadow: none;
}
.btn.gray.flat:hover {
  background: none no-repeat right center #6a6a6a;
  border-width: 1px;
  border-style: solid;
  border-color: #585858;
  color: #FFFFFF;
  text-shadow: none;
}
.btn.gray.flat:active {
  background: none no-repeat right center #535353;
}
/* Links: Anchor Basics */
a {
  border: 0 none;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
a:link.strong,
a:visited.strong,
a:active.strong {
  color: #414141;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
a:link,
a:visited,
a:active {
  color: #414141;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
a:link.white,
a:visited.white,
a:active.white {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
a:hover,
a:hover.strong {
  color: #1E82D7;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
a:hover.white {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  /* Fallback */

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/* Lists: Basics */
ol.text16,
ul.text16 {
  font-size: 16px;
}
ol.text14,
ul.text14 {
  font-size: 14px;
}
ol.text12,
ul.text12 {
  font-size: 12px;
}
ol {
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style-type: decimal;
}
ul {
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style-type: disc;
}
li {
  line-height: 135%;
  margin-left: 1.2em;
  margin-bottom: .625em;
  margin-top: .8em;
  letter-spacing: .02em;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
ol li ol li {
  font-size: .875em;
  list-style-type: lower-alpha;
  margin-top: .4em;
  margin-bottom: .4em;
}
ol li ol li ol li {
  font-size: .875em;
  list-style-type: decimal;
  margin-top: .4em;
  margin-bottom: .4em;
}
ul li li {
  font-size: .875em;
  list-style-type: circle;
  margin-top: .4em;
  margin-bottom: .4em;
}
ul li li:last-child {
  margin-bottom: 1em;
}
ul ul,
ol ul,
ol ol {
  margin-bottom: 0;
}
ol ul li {
  font-size: .875em;
  list-style-type: disc;
  margin-top: .4em;
  margin-bottom: .4em;
}
ol ul li li {
  font-size: .875em;
  list-style-type: circle;
  margin-top: .4em;
  margin-bottom: .4em;
}
li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
form ul li {
  list-style: none;
  margin-left: 0;
}
.menu li {
  margin-left: 0;
  list-style-type: none;
}
/* Lists: Special Classes */
ul.features-list,
ul.swatches {
  list-style-type: none;
}
.features-list li,
ul.features-list.text16 li {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANVJREFUeNpi/P//PwMhoNn7yAZI2QPxYkZCGoCKnYDULiBmBuJreDUAFQsBqfNALAcVesFEwDXzkRSDQBkLHtNzgJQfktCy68Vyi1mAEkVATjsQbwXiaKDgd6CYAZDdi6T4PhBngRiMGj0PPwBpfqjEDiCOAOKTQKwOFfsFxLZAg06BOCA/HEQyyQOI65AUg0ANTDHMBpDph4FYF4tXdgMVuyELMAEFPgJpZyC+g6b4NRDHoZsAjwegRxWhNklD5TyBhu3AqQFJUwIQHwEq3o0tuAECDAByt0iUBvKTjgAAAABJRU5ErkJggg==');
  margin-left: 1.4em;
}
ul.features-list.text14 li {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANVJREFUeNpi/P//PwMhoNn7yAZI2QPxYkZCGoCKnYDULiBmBuJreDUAFQsBqfNALAcVesFEwDXzkRSDQBkLHtNzgJQfktCy68Vyi1mAEkVATjsQbwXiaKDgd6CYAZDdi6T4PhBngRiMGj0PPwBpfqjEDiCOAOKTQKwOFfsFxLZAg06BOCA/HEQyyQOI65AUg0ANTDHMBpDph4FYF4tXdgMVuyELMAEFPgJpZyC+g6b4NRDHoZsAjwegRxWhNklD5TyBhu3AqQFJUwIQHwEq3o0tuAECDAByt0iUBvKTjgAAAABJRU5ErkJggg==');
  margin-left: 1.6em;
}
ul.features-list.text12 li {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUeNpi/P//PwMuoNn7SA5IlQLxGkZcCoGKOIHUGSDWAuJ3TAy4wQSoIhC4gNVEoGnhQGoFlPsOiA0ZNXoepgEZIInW68Vy+4CKFIHs80DMD1UYBBRfD1L4GcjhAeLvQGwLtdIGqmgWUFE6iAFy41yoICdUkSWUfw2IC2DOASksBnkfygeZxAw1PRRo2ne4QiDnL5COBuJ9SP4pBopfQ/Yg3NdAT/BAA/c+UNEC9JAACDAAyeA7htG4ZtYAAAAASUVORK5CYII=');
  margin-left: 1.8em;
}
ul.download,
ul.download.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMtJREFUeNpi1Oh5yEAKYGIgEWDXsCRCfH2sBLEatMXZjKXZNcTYgAyaOYkoDW0ewrtTpNCcAeQCBVvchLBo0JNgk+FnmRsiJsLNDBEBMoBcoKCBFDtcGSM8HtREWOeHiQtxMn37/Z+LlREoAmG8+fo3ec2rW29+o9sAFIpZ8fLll78Q1UAAZAC5casQqtE9ff/d77iVID0QLkj1ypdAQXyh9OjDH6A9l178uvsWZCGQi6aAkdS0xAKhrhfLEVSq2fsIoQHCoUlMAwQYAAmSUS3Q3wzIAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 1px;
  background-color: transparent;
  padding-left: .4em;
}
ul.download.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKNJREFUeNpi1Oh5yEAcYGIgGmBR2ucjMjVAFFOcBVPIU52Leg4odxDMsuRHlsu14gcKYnGAhSy7hhibECfT809/gNwaJ8FoQ94br37BFTDCA0uch3l+qJiiECtc7v6734mrX7388hfdAUChuFWv7r79DeECGUAuXB2KqRAAdAAwpFiZGdPWvnr3/R+yFCPxsYXw1vViOawqNHsfkWwqCVEAEGAAK0Y2OX7LAhYAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 2px;
  background-color: transparent;
  padding-left: .4em;
}
ul.pdf,
ul.pdf.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARdJREFUeNpi1Oh5yEAKYMIUUhJiDdXjwaWBBVOo3VOYmZHh8P3vLz7/JcqG77//HX7wQ1eCnVgncbAwSvAwf/75j1gNB+/9cFHlvPT8J7Eapp/4+O8fw+9/RIcSKzPj51//lkSIE6shxpB37eWvpx79WBktQVSw2itxFG95G6bHoyzEcjBd+vnnPz/+/P/9l6F211tgQKPbkGLGpyLM2uEp/ObbX5PJT8q3v+XnYL75+vfma18n+okCFTDCk4atAke+jYAsP4v/oudoUeanyW0kwz7v9KdHH/5AnZRowmcuy771xjc1EVbMCN50/SsQoXg6SIf7/fd/QNdX7niLP/FBbZh09OMPcIogmFqhGnbf/kZk8gYIMADaI3IkxJYE8wAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 1px;
  background-color: transparent;
  padding-left: .4em;
}
ul.pdf.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAt1BMVEUriekriegriulEmOtur/AsiegsiukwjOjE3/nd7Pw/lOsxjemw0/az1fdJmuylzfbI4PlBletMnOzZ6fo7kuo/lero8/yBufF5tfGUw/O32Ph1s/E6keo7kusyjek1j+nG4PmizPat0fft9P3h7/u21vfG3/lRnuxXou3I4frT5vptrvA9k+o/lOqXxfS11/fT5/qjzPaIvfLP5PrM4/pOne0yjupKm+zR5frL4/mHvfOt0fZprO8ungpAAAAAkElEQVR42i2OhxLCMAxDFQMGyt6zLXvvvf7/u5BzzSXOxXqWAsA5CI9tgV+pdCZpKlvZXD4An0pUFYViqWyiOEDIVKo1OBtmJVNvNMHbnIxotTuOUGIl3V5/MAwjeFzi0Xgync0XSwGh1Xqz3e0Px9MZVC/X293mwuBB9Pl6f+hmMQog+v4YLT5Cof6zpoHBf2o8CBKcZOSbAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 1px;
  background-color: transparent;
  padding-left: .4em;
}
ul.code,
ul.code.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNpi1Oh9xEAKYGIgEQyshutFstS2AdlIIFuz7zGmPUyYKtAAUBBZDxNW1WhcZD1MWI3B9D1cPxOmMfhtY0JzLlY/EAhWrNoGc1oCCDAAJKYrt/nL+aYAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 1px;
  background-color: transparent;
  padding-left: .4em;
}
ul.code.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAllBMVEUriekriegriuksiuktiuikzfZ5tvI6kupiqO40jerh7ftgp+5dpe45keo4kerD3fmz1vdQn+3t9f01j+m62Pc4kOovi+nC3fjE3vg4kemJvvO72fgui+g1junF3/nF3vk5kevE3vk2j+q82vmKv/MvjOk3j+m52fc2kOpPn+y01fY3kOk4kOlcpe5hp+/h7vs0jeljqe+qnYczAAAAjUlEQVR42i2OhxLCMAxDLaeDHShQGkah7D3+/+eQA86dHVnvzhKBqCjgFAqxUo0DfGaAmj8ClGJUkmbGxnXe0nan2+ubCwz8EKNiPPFToS5nVZD5Yrmq1xu6oam35W6PUPkDCB/96Vxc5NrcEA/fH8/XG59c7bQDkKXJP4laQC5NAL9U4gixxZz0CDljv2AhBj1NkNEqAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 2px;
  background-color: transparent;
  padding-left: .4em;
}
ul.arrow,
ul.arrow.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL9JREFUeNpi1Oh5yIAG2IB4IxBrAXEiEO9DlmRiwATSQOwBxHJAvAWI7QlpuA/E06FsTiDeDsQ2+DSAQC4QL0bSBLLJDMRhAWJRIPaGuh0ZHAFiAyDWBWJ+IN4FxM4gDSeBWJGBMABpWgdy0i8G4sF3kA0mQOwHxDxokh+BuALqLBB4AcT+IA1fgHgZlrhYgaT4NRC7AfFNXKE0B4gDkWwCKb6MK1glgDgWTfEFfPEAsn4rED8FYh8gPoUsCRBgAFtzILffa1JjAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px 4px;
  background-color: transparent;
  padding-left: .4em;
}
ul.arrow.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJZJREFUeNpi1Oh5yIAG5gCxJRBHAPFlmCATAyZwAmItIN4FxOr4FIYC8TsglgDivUCsgqzQGAmDQBwQfwFiaSA+AMSKLEDiPBAbMOAGIMVbmKA6CYEvIBNtkayEAZD7VgAxDxA/BYUAC1TiLJIikKZFSIocgPg+Nl+vBmIhIH4NxM5AfAckyIJF4UEg/g4N8JswQYAAAwBRsRmyd/+G/QAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px 4px;
  background-color: transparent;
  padding-left: .4em;
}
ul.lens,
ul.lens.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQpJREFUeNqMkjEHQlEUx9+rRET0JUpEtEZ50xtSSkNj36OhpaGhJUVLRNRYGqKxFNHSECla2iLeGhH9D//HdT15h593vPt+95x73jWT3YfBSIA2sEEUXMAQDAyPCPDZACdQoySRAn2wAXEvMQtGIAL2oA4KoAM+IA/GuhgCTRAEBwpfrm3BEcxBCaTBWa2YY95RJDcW4MY8r7caY/40vMN9H9ZFd0fbQ5KhZJjfdXHGXM5aUdakkymfUnWtiz0eOsxBXMEOPJQuRLZ08c1prpSLkOPHL65HuKmt/g4JBxQpZSk5nKpFyZWr0rapXLl/IZWWPI50UA0Y/kIGU+ZNksoTv6IqyxFaPwEGAJ4WN0ooYyQ4AAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px 3px;
  background-color: transparent;
  padding-left: .4em;
}
ul.lens.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANFJREFUeNqE0aEKwlAUxvG5LVlMpsFgJqMgrA2D3SBYTMIewCY2k83iS6z4DEsG08BqcTgwWWwmwf/gE64X1AM/Ljs73+5253c3F4fyMMcUPRyRYYunY5Sv4RwD9R7oywhDM+RiqeECHTS1FuovzR3qQKonjFGqX68T9VM7EOCGyvmsUv3ADlzRRmgFQvUrO5Dpw3eI1I907en+R2CNA2Kccdcaa2Zm7u7qGBMsdP4tnLDS69TD+3eooR/3rczhOpy4zu+qtPt7p/xfwA5lLwEGACIYLtTrxQuZAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px 3px;
  background-color: transparent;
  padding-left: .4em;
}
ul.contact {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI1JREFUeNpi0eh99J+BNMCIzGFhIA/ALWUiw/b3UJoR3QWMRBgA0iwAdQGGAf+JsFkAzTBGYl2ArvkDEAsS4wJGfJqJCQO8mvG5gBGLizA043OBAw7N/9FdyoTmApit+9EMEMQVS0xoLoCZ/gBKO+LwDt4wAGlQJCJt4MwLJGUuJgYKAeP///8pMgAgwADSHiH9e06xqAAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 3px 2px;
  background-color: transparent;
  padding-left: .4em;
}
ul.chat {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHlJREFUeNpi1Oh9ZMTAwDALiI0ZSANngTiNiUzNDFA9s5jI1Aw3hAWZNz1AhChdmRvewNksuCSIBaMuINEF2Cyg2AVM0CRJLjgLMiCNTEPAeYGRkCpgZhMAUvuB2ADEv1Esx4juBbwAqOEDkHIE4gu4woCBEkMAAgwAP44o4OGuGC0AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 3px 3px;
  background-color: transparent;
  padding-left: .4em;
}
ul.play,
ul.play.text16 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAMAAADarb8dAAAABlBMVEUrien////fM7Z5AAAAJUlEQVR42rXNIQ4AAAzCQPr/T8+AYnI7SZqgBcJEJjst4umlizY3yABvhHi1nQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 3px;
  background-color: transparent;
  padding-left: 0.4em;
}
ul.play.text14 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAMAAACuAq9NAAAABlBMVEUuhvH///+YA89rAAAAJElEQVR42r3MsQkAAAwCQd1/6ciTLlUar1IEdVhGAra+19rzABwvAEn6cGQfAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 2px 2px;
  background-color: transparent;
  padding-left: 0.4em;
}
li.icon,
li.swatch {
  list-style-type: none;
}
ul.follow-link {
  font-size: 1em;
}
.follow-link li {
  margin-left: .1em;
  list-style-type: none;
  line-height: 105%;
}
ul.follow-link.size18 {
  font-size: 18px;
}
ul.follow-link.size16 {
  font-size: 16px;
}
ul.follow-link.size14 {
  font-size: 14px;
}
ul.follow-link.size12 {
  font-size: 12px;
}
.follow-link.size18 li:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI1JREFUeNpiYMAEbEC8HYgfArETAxFAEYj/Q/E3ILYnRtM0NE02hDQwA/EiJE0fgNgMJMEIxKJA7A11OzrIAWJdKPsjEDuDGPeQTCKEHzIBiV8MxIPvICfxALEflEYGICdUALEBlP8CiB1wmQTyzzokp7xC8gtWgB5CBvgUS2ALTkJxsAWIn2CLMIAAAwDjWyxktnNa/wAAAABJRU5ErkJggg==');
  margin-left: 0.25em;
}
.follow-link li:after,
.follow-link.size16 li:after,
.follow-link.size14 li:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNpiYMAEc4D4KhDrMhAA94D4PxA/B2J1fAqNgfgtVPETIFYBCTIiSSIDCSBeAcQ8QPwUiG1BguehuvHhq0xA4gsDYfCFJKuJ8gy+4HmFHDzMWBQaADEbEPsB8TWYIECAAQD/Cx7tKRIy+gAAAABJRU5ErkJggg==');
  margin-left: 0.25em;
}
.follow-link.size12 li:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYEAFvUB8HoilYQJMaAq+ALEBEO8FYgkGHGAyEP8H4qtALAoS2AgVgOGHSOwzICu+M+AGv4iyAhnUQSVvwByJ7gt+IL4AxM5A/AIkABBgAAdxFjA3K1d8AAAAAElFTkSuQmCC');
  margin-left: 0.25em;
}
.follow-link li:last-child {
  margin-bottom: 2.75em;
}
.well .follow-link li:last-child {
  margin-bottom: 0;
}
/* Chrome Specific Styles */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ul.arrow {
    background-position: 3px 2px;
  }
  ul.lens {
    background-position: 3px 1px;
  }
  ul.contact {
    background-position: 3px 1px;
  }
  ul.chat {
    background-position: 3px 2px;
  }
}
/* Text: Modifiers */
.caps {
  text-transform: uppercase;
}
.lite {
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.loose {
  letter-spacing: .05em;
}
.looser {
  letter-spacing: .075em;
}
.narrow {
  font-family: 'RobotoCondensed', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.narrow.bold {
  font-family: 'RobotoCondensedBold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.shadow {
  text-shadow: none;
  text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.4);
}
div.boxshadow {
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25);
}
.thin {
  font-family: 'RobotoThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.white {
  color: #FFFFFF !important;
}
.nolineheight {
  line-height: 100% !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.block {
  display: block !important;
}
p.double,
ul.double,
ol.double {
  margin: 0 0 2em 0;
}
p.triple,
ul.triple,
ol.triple {
  margin: 0 0 3em 0;
}
p.quadruple,
ul.quadruple,
ol.quadruple {
  margin: 0 0 4em 0;
}
p.quintuple,
ul.quintuple,
ol.quintuple {
  margin: 0 0 5em 0;
}
p.sextuple,
ul.sextuple,
ol.sextuple {
  margin: 0 0 6em 0;
}
p:last-child {
  margin-bottom: 0;
}
strong {
  color: #191919;
  font-family: 'RobotoRegular', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: inherit;
  font-weight: normal;
}
em {
  color: #3C3C3C;
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: inherit;
  letter-spacing: 0;
}
span.highlight {
  background-color: #D8ECFD;
  color: #0064B9;
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  padding: .1em .15em .1em .2em;
}
span.highlight {
  background-color: #8EE8FD;
  color: #414141;
  font-family: 'RobotoLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  padding: .2em .15em .1em .2em;
}
.highlight.orange {
  background-color: #FFC900;
  color: #414141;
}
.highlight.green {
  background-color: #ACFC41;
  color: #414141;
}
.highlight.pink {
  background-color: #FFC8F6;
  color: #414141;
}
.highlight.yellow {
  background-color: #FFFF3C;
  color: #414141;
}
.highlight.gray {
  background-color: #C6C6C6;
  color: #414141;
}
.highlight.white {
  background-color: #FFFFFF;
  color: #4C4C4C !important;
}
.highlight.black {
  background-color: #000000;
  color: #BBBBBB;
}
span.callout {
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #C4C4C4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0.4em 0.5em 0.35em;
  display: inline;
}
.well span.callout {
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0 none;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0.4em 0.5em 0.35em;
  display: inline;
}
p > span.callout,
.well p > span.callout {
  padding: 0.2em 0.3em 0.15em;
  vertical-align: bottom;
  font-size: .9em;
  white-space: nowrap;
}
