@import url('bower_components/bootstrap/less/bootstrap.less');
/*@import url('reset.less');*/
@import url('fonts.less');
/*@import url('cornerstone.less');*/
@import url('main.less');

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              16;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         15px;
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-tablet;

@icon-font-path:          "bower_components/bootstrap/fonts/";